{% extends "base_generic.html" %}
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %} Edit Settings {% endblock %}</title>
    </head>

    <body>
        {% block content %}
            <div class="container">
                <div class="row">
                    <div class="col-md-8 offset-md-2 col-lg-10 offset-lg-1">
                        <div class="seven">
                            <h1>Edit Settings</h1>
                        </div>
        
                    <div class="form-group">
                        <form method="POST">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <div class="d-flex justify-content-center">
                                <button type="submit" class="btn btn-Post">Update profile</button>
                            </div>
                    </div>
        {% endblock %}
    </body>
</html>