{% extends "base_generic.html" %}
{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %} Edit profile page {% endblock %}</title>
    </head>

    <body>
        {% block content %}
            {% if user.is_authenticated %}
                {% if user.id == profile.user.id %}
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8 offset-md-2 col-lg-10 offset-lg-1">
                                <div class="seven">
                                    <h1>Edit profile page</h1>
                                </div>

                            <div class="form-group">
                                <form method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    {{ form.as_p }}
                                    <div class="d-flex justify-content-center">
                                        <button type="submit" class="btn btn-Post">Update profile page</button>
                                    </div>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <p> You are not the correct user to edit this profile!</p>
                {% endif %}
            {% else %}
                <p> You are not AUTHOR OF THIS edit Profile page! </p>
            {% endif %}
        {% endblock %}
    </body>
</html>