{% extends "base_generic.html" %}
<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %} Login {% endblock %}</title>
    </head>

    <body>
        {% block content %}
            <h1>Login...</h1>
            <br/>
            <div class="form-group">
                <form method="POST">
                    {% csrf_token %}
                    
                    <div class="form-group">
                        <label >Username </label>
                        <input type="text" class="form-control" name="username" >
                    </div>
                    
                    <div class="form-group">
                        <label >Password</label>
                        <input type="password" class="form-control" name="password">
                        <small class="form-text text-muted">Not registrated? Sign Up<a href="{% url 'loginapp:register' %}"> here...</a> </small>
                    </div>
                    
                    <button class="btn btn-primary">Login</button>
            </div>
        {% endblock %}
    </body>
</html>