{% extends "base_generic.html" %}
<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %} Password Updated {% endblock %}</title>
    </head>

    <body>
        {% block content %}
            <div class="container">
                <div class="row">
                    <div class="col-md-8 offset-md-2 col-lg-10 offset-lg-1">
                        <div class="seven">
                            <h1>Your password was changed successfuly...</h1>
                        </div>
                        <div class="access_denied"> 
                            <a href="{% url 'IdeaHub:homepage' %}" class="btn btn-Post" style="margin-bottom:5px;">Return to Homepage</a>
                        </div>
                    </div>
                </div>
            </div>
                           

        {% endblock %}
    </body>
</html>