/* base_generic.html */

@media(min-width:992px){
    .navbar-expand-lg .navbar-collapse{
        width: 100%;
    }
}

.navbar-custom .navbar-nav .nav-link, 
.navbar-custom .navbar-brand, 
.navbar-custom .navbar-toggler-icon {
    color: #FFC40A !important;
    font-size: 20px; 
    font-weight: bold;
  }

.navbar-custom{
    background-color: #000000;
}

div.dropdown-menu{
    background-color: #FFC40A;
}

div.dropdown-menu a.dropdown-item {
    color: #000000; 
    text-transform: capitalize;
    margin-bottom: -5px;
    padding-bottom: 5px;
    padding-top: 5px;
    font-weight: bold;
}

div.dropdown-menu a.dropdown-item:hover{
    background-color: #000000;
    color: #FFC40A;
}

.profile-dropdown img{
    padding-left: 2px;
    padding-right: 2px;
}

.profile-image {
    width: 100%; 
    height: auto; 
    border-radius: 10px; 
    margin-bottom: 5px; 
    
}

.dropdown-item img {
    vertical-align: middle; 
    margin-right: 5px;
  }

.container-fluid {
    background-color: #679BF1;
}

/* home.html */

.card {
    background-color: #F8DE7E !important;
    margin-bottom: 15px;
    border: 2px solid #000 !important;
}

.card-title a{
    color: #000000;
    text-decoration: none;
}

.card-title a:hover {
    text-decoration: underline; 
}

.card-title .edit a {
    color: #679BF1;
}

.card-title .delete a {
    color: #dc3545; 
}

.card-title .edit a:hover {
    color: blue;
    text-decoration: none;
}
.card-title .delete a:hover {
    color: #bd2130;
    text-decoration: none; 
}

.category {
    text-transform: capitalize;
}

