{% extends "base_generic.html" %}
{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %} Create a new post category {% endblock %}</title>
    </head>

    <body>
        {% block content %}
            {% if user.is_authenticated %}
                <div class="row">
                    <div class="col-md-8 offset-md-2 col-lg-10 offset-lg-1">
                        <div class="seven">
                            <h1>New Category</h1>
                        </div>

                        <div class="form-group">
                            <form method="POST">
                                {% csrf_token %}
                                {{ form.as_p }}
                            <div class="d-flex justify-content-center">
                                <button type="submit" class="btn btn-Post">Add category!</button>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 offset-md-2 col-lg-10 offset-lg-1">
                            <div class="seven">
                                <h1>Access Denied</h1>
                            </div>
                            <div class="access_denied">
                                <p style="font-size: calc(0.5vw + 1rem);">You need to be logged in to view this page.</p>  
                                <a href="{% url 'login' %}" class="btn btn-Post" style="margin-bottom:5px;">Log In</a>
                                <p>Don't have an account? <a href="{% url 'loginapp:register' %}">Register here</a>.</p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endblock %}
    </body>
</html>