{% extends "base_generic.html" %}
{% load static%}

<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %} Create a new post category {% endblock %}</title>
    </head>

    <body>
        {% block content %}
            {% if user.is_authenticated %}
                <div class="row">
                    <div class="col-md-8 offset-md-2 col-lg-10 offset-lg-1">
                        <div class="seven">
                            <h1>New Category</h1>
                        </div>

                        <div class="form-group">
                            <form method="POST">
                                {% csrf_token %}
                                {{ form.as_p }}
                            <div class="d-flex justify-content-center">
                                <button type="submit" class="btn btn-Post">Add category!</button>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            {% else %}
                <p> You are not allowed here.</p>
            {% endif %}
        {% endblock %}
    </body>
</html>