{% extends "base_generic.html" %}

<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %} {{post.title_tag}} {% endblock %}</title>
    </head>

    <body>
        {% block content %}
            <h1>{{post.title}} </h1>
            {{post.category}}
            <br/>
            By: {{post.author.first_name}} {{post.author.last_name}}
            <small> {{post.post_date}} </small> 
            {% if user.is_authenticated %}
                {% if user.id == post.author.id %}
                    <small> <a href="{% url 'IdeaHub:update_post' post.pk %}"> (Edit) </a> </small> 
                    <small> <a href="{% url 'IdeaHub:delete_post' post.pk %}"> (Delete) </a> </small>
                {% endif %}
            {% endif %}
            <br/>
            <hr>
            <br/>
            <div class="post-content">{{ post.body|safe }}</div>   

            <script>
                document.addEventListener("DOMContentLoaded", function() {
                    var images = document.querySelectorAll('.post-content img');
                    images.forEach(function(img) {
                        img.style.maxWidth = "100%";
                        img.style.height = "auto";
                    });
                });
            </script>
            <br/>
            <a href="{% url 'IdeaHub:homepage' %}" class="btn btn-primary">Povratak</a>

            <br/><br/>
            <hr>
            <br/>
            
            <form action="{% url 'IdeaHub:like_post' post.pk %}" method="POST">
                {% csrf_token %}
                
                {% if user.is_authenticated %}
                    {% if liked %}
                        <button type="submit", name="post_id", value="{{post.id}}", class="btn btn-danger">Ne sviđa mi se</button> 
                    {% else %}
                        <button type="submit", name="post_id", value="{{post.id}}", class="btn btn-primary">Sviđa mi se</button> 
                    {% endif %}
                {% else %}
                    <small><a href="{% url 'login' %}"> Login</a> to like.</small>
                {% endif %}
                - {{ total_likes }} Likes
            </form>
        {% endblock %}
    </body>
</html>