{% extends "base_generic.html" %}
{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %} {{post.title_tag}} {% endblock %}</title>
    </head>

    <body>
        {% block content %}
            <h1>{{post.category}} - {{post.title}} </h1>
            {% if user.is_authenticated %}
                {% if user.id == post.author.id %}
                    <small> <a href="{% url 'IdeaHub:update_post' post.pk %}"> (Edit) </a> </small> 
                    <small> <a href="{% url 'IdeaHub:delete_post' post.pk %}"> (Delete) </a> </small>
                {% endif %}
            {% endif %}
            <br/>
            By: {{post.author.first_name}} {{post.author.last_name}}
            <small> {{post.post_date}} </small> 

            <br/>
            <hr>
            <br/>
            
            <div class="post-content">
                {% if post.header_image %}
                    <img src="{{ post.header_image.url }}"> 
                    <br/><br/>
                {% endif %}
                {{ post.body|safe }}
            </div>   

            <script>
                document.addEventListener("DOMContentLoaded", function() {
                    var images = document.querySelectorAll('.post-content img');
                    images.forEach(function(img) {
                        img.style.maxWidth = "100%";
                        img.style.height = "auto";
                    });
                });
            </script>
            <br/>
            <a href="{% url 'IdeaHub:homepage' %}" class="btn btn-primary">Povratak</a>

            <br/><br/>
            <hr>
            <br/>
            
            <form action="{% url 'IdeaHub:like_post' post.pk %}" method="POST">
                {% csrf_token %}
                
                {% if user.is_authenticated %}
                    {% if liked %}
                        <button type="submit", name="post_id", value="{{post.id}}", class="btn btn-danger">Ne sviđa mi se</button> 
                    {% else %}
                        <button type="submit", name="post_id", value="{{post.id}}", class="btn btn-primary">Sviđa mi se</button> 
                    {% endif %}
                {% else %}
                    <small><a href="{% url 'login' %}"> Login</a> to like.</small>
                {% endif %}
                - {{ total_likes }} Likes
            </form>

            <br/><br/>

            <div class="card mb-3">
                <div class="row no-gutters">
                    <div class="col-md-2">
            {% if post.author.profile.profile_picture %}
                        <img src="{{post.author.profile.profile_picture.url}}" class="card-img" />
            {% else %}
                        <img src="{% static 'IdeaHub/images/default_profile_img.png' %}" class="card-img" />
            {% endif %}
                    </div>

                    <div class="col-md-10">
                        <div class="card-body">

                            <h5 class="card-title">
                                {{post.author.first_name}} {{post.author.last_name}}
                            </h5>

                            <p class="small text-muted">

                                <a href="{% url 'loginapp:show_profile' post.author.profile.id %}">Profile page</a>
                                {% if post.author.profile.website_url %}
                                    |<a href="{{post.author.profile.website_url}}"> Website</a> 
                                {% endif %}

                                {% if post.author.profile.facebook_url %}
                                    |<a href="{{post.author.profile.facebook_url}}"> Facebook</a> 
                                {% endif %}

                                {% if post.author.profile.instagram_url %}
                                    |<a href="{{post.author.profile.instagram_url}}"> Instagram</a> 
                                {% endif %}

                                {% if post.author.profile.github_url %}
                                    |<a href="{{post.author.profile.github_url}}"> Github</a> 
                                {% endif %}

                            </p>

                            <p class="card-text">
                                {{post.author.profile.bio}}
                            </p>

                        </div>
                    </div>
                </div>
            </div>

            <br/>
            <hr>
            <h2>Comments...</h2>

            {% if not post.comments.all %} <!-- related_name = "comments" -->
                <p>No comments yet.</p> 
                <a href="{% url 'IdeaHub:add_comment' post.pk %}">Add comment</a>
            {% else %}
                <br/><br/>
                {% for comment in post.comments.all %}
                    <strong>{{ comment.comment_author }} - {{ comment.date_added }}</strong>
                    {% if post.author.id == user.id or user.id == comment.comment_author.id %}
                        <a href="{% url 'IdeaHub:update_comment' comment.pk %}">Edit</a>
                        <a href="{% url 'IdeaHub:delete_comment' comment.pk %}">Delete</a>
                    {% endif %}
                    <br/>
                    <p>{{comment.body}}</p> 
                {% endfor %}
                <a href="{% url 'IdeaHub:add_comment' post.pk %}">Add comment</a>
            {% endif %}

            

            

        {% endblock %}
    </body>
</html>